
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  font-family: 'Montserrat', sans-serif;
  height:100%;
  background-color: #10132B
}

table {
  box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
}

body { overflow-y: scroll; }

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}
.whole-header a {
  color: #75BEFD;
  border: 1px solid #10132B
}

.whole-header, .whole-footer {
  min-height: 10%;
  background-color: #10132B;
  color: #75BEFD;
}

.whole-header ul a:hover{
  border: 1px solid #428bca !important;
  color: white !important;
  background-color: #5CA5E4 !important;
}

.logo-font {
  padding-left: 7px;
  padding-right: 7px;
}

.whole-content {
  padding: 10px;
  background-color: white;
  min-height: 75%;
  height: auto;
}

.whole-footer {
  padding-top: 15px;
  padding-left: 15px;
}

.glyphicon-chevron-right {
  margin-left: -2px;
  margin-right: -2px;
}

.container {
  padding-right: 0px ;
  padding-left: 0px ;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-header ul, .navbar-collapse ul {
  padding-top: 5px;
  margin-bottom: 0px;
} 

.navbar-header ul {
  padding-top: 5px;
}

.players-container {
  max-width: 400px;
}


.flip-image {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.recent-matches-table {
  overflow: auto;
}

.match-won, .match-lost {
  font-size: medium;
  color: green;
}

.match-won {
  color: green;
}

.match-lost {
  color: #a94442;
}

.icon-bar {
  background-color: white;
}

@media screen and (min-width: 768px) {
  html, body {
    background-color: #10132B
  }

  .whole-header, .whole-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container {
    width: 992px;
  }

  .matches-container {
    max-width: 700px;
  }
}