
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  font-family: 'Montserrat', sans-serif;
  height:100%;
  background-color: white
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.whole-header, .whole-footer {
  min-height: 10%;
  background-color: #10132B
}

.matches-container {
  max-width: 700px;
}

.players-container {
  max-width: 300px;
}

.navbar-collapse {
  background-color: #10132B;
}

.whole-content {
  padding: 25px;
  background-color: white;
  min-height: 75%;
  height: auto;
}

.whole-footer {
  padding: 25px;
  color: #428bca;
}

.flip-image {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: white;
   }*/

   .logo-font {
    font-weight: 400;
  }

  .recent-matches-table {
    overflow: auto;
  }

  .match-won, .match-lost {
    font-size: medium;
    color: green;
  }

  .match-won {
    color: green;
  }

  .match-lost {
    color: #a94442;
  }

  .header {
    padding-top: 25px;
  }

  .icon-bar {
    background-color: white;
  }
  @media screen and (min-width: 768px) {
    html, body {
      background-color: #10132B
    }

    .container {
      width: 992px;
    }

    .node circle {
      cursor: pointer;
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .node text {
      font: 10px sans-serif;
    }

    path.link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
  }