<section> 
<div class="landingpage">
	<div class="text-center"> 
		<h1 class="first text-uppercase">Ping Pong Rankings</h1>
		<p class="lead"><img class="hidden-xs" height="200px" width="200px" src="img/pp-paddle.png"><img class="flip-image" height="200px" width="200px" src="img/pp-paddle.png"><br>See who's on top!</p>
		<p class="last"><a class="btn btn-lg btn-primary" ng-href="#/rankings">View Rankings</a></p>
		<p class="last"><a class="btn btn-lg btn-primary" ng-href="#/players">View Players</a></p>
		<p class="last"><a class="btn btn-lg btn-primary" ng-href="#/matches">View Matches</a></p>
	</div> 
	</div>
</section>