<section>
  <div class="container matches-container">
    <h1 class="text-center">All Matches</h1>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <p class="last"></p>
        <h3 class="first text-center">Matches as of {{ game.matches[game.matches.length - 1].dateString }}</h3>
        <table class="recent-matches-table table table-striped" >
          <tbody>
            <tr class="row">
              <td class="col-md-1 col-xs-3"><strong>Date</strong></td>
              <td class="col-md-3 col-xs-7"><strong>Challenger<span class="visible-xs">Opponent</span></strong></td>
              <td class="col-md-1 hidden-xs" ><strong></strong></td>
              <td class="col-md-3 hidden-xs"><strong>Opponent</strong></td>
              <td class="col-md-1 hidden-xs"><strong>Sets</strong></td>
              <td class="col-md-3 col-xs-2"><strong>Scores</strong></td>
            </tr>
            <tr class="row match-data" ng-repeat="match in game.matches | orderBy:'date':true">
              <!-- <td class="col-md-1 hidden-xs">{{ $index + 1 }}</td> -->
              <td class="col-md-1 col-xs-3">{{ match.dateString }}</td>
              <td class="col-md-3 col-xs-7">
                <span>{{ match.challenger.name }} </span>
                <span ng-class="{ 'match-won': match.winner == match.challenger, 'match-lost': match.loser == match.challenger }"><span class="match-won" ng-show="match.winner == match.challenger">+</span>{{ match.challenger.pointsWon }} </span>
                <span class="visible-xs">
                  <span>{{ match.opponent.name }} </span>
                  <span ng-class="{ 'match-won': match.winner == match.opponent, 'match-lost': match.loser == match.opponent }"><span class="match-won" ng-show="match.winner == match.opponent">+</span>{{ match.opponent.pointsWon }} </span>
                </span>
              </td> 
              <td class="col-md-1 hidden-xs"> vs </td>
              <td class="col-md-3 hidden-xs">
                <span>{{ match.opponent.name }} </span>
                <span ng-class="{ 'match-won': match.winner == match.opponent, 'match-lost': match.loser == match.opponent }"><span class="match-won" ng-show="match.winner == match.opponent">+</span>{{ match.opponent.pointsWon }} </span>
              </td>
              <td class="col-md-1 hidden-xs"> {{ match.challenger.setsWon }} - {{ match.opponent.setsWon }} </td>
              <td class="col-md-3 col-xs-2">{{ match.scoresString }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <p class="last"></p>
</section>


