<section>
  <div class="container">
  <h1 class="text-center">Rankings as of 9/1/15</h1>
    <div class="row">
      <div class="col-sm-4">
        <h3 class="first text-center">Rankings</h3>
        <table class="table table-striped">
          <tbody>
            <tr class="row">
              <td class="col-sm-2"></td>
              <td class="col-sm-3"><strong>Points</strong></td>
              <td class="col-sm-4"><strong>Player</strong></td>
              <td class="col-sm-3"><strong>Record</strong></td>
            </tr>
            <tr class="row" ng-repeat="player in game.players">
              <td class="col-sm-1">{{ $index + 1 }}</td>
              <td class="col-sm-3 ranking-text">{{ player.ranking }} <span class="glyphicon" ng-class="pollsCtrl.getSeedClasses(player.previousSeed, player.currentSeed)" ng-show="player.seedChange != 0"></span></td>
              <td class="col-sm-4"><a ng-href="#/player/{{player.name}}">{{ player.name }}</a></td>
              <td class="col-sm-3">{{ player.wins }} - {{ player.losses }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-8">
        <p class="last"></p>
        <h3 class="first text-center">Recent Matches</h3>
        <table class="table table-striped" >
          <tbody>
            <tr class="row">
              <td class="col-sm-1"></td>
              <td class="col-sm-2"><strong>Date</strong></td>
              <td class="col-sm-2"><strong>Challenger</strong></td>
              <td class="col-sm-1"><strong></strong></td>
              <td class="col-sm-2"><strong>Opponent</strong></td>
              <td class="col-sm-1"><strong>Sets</strong></td>
              <td class="col-sm-3"><strong>Scores</strong></td>
            </tr>
            <tr class="row match-data" ng-repeat="match in game.matches | orderBy:'date':true">
              <td class="col-sm-1">{{ $index + 1 }}</td>
              <td class="col-sm-2">{{ match.dateString }}</td>
              <td class="col-sm-2">
                <span> {{ match.challenger.name }} </span>
                <span ng-class="{ 'match-won': match.winner == match.challenger, 'match-lost': match.loser == match.challenger }"><span class="match-won" ng-show="match.winner == match.challenger">+</span>{{ match.challenger.pointsWon }} </span>
              </td> 
              <td class="col-sm-1"> vs </td>
              <td class="col-sm-2">
                <span> {{ match.opponent.name }} </span>
                <span ng-class="{ 'match-won': match.winner == match.opponent, 'match-lost': match.loser == match.opponent }"><span class="match-won" ng-show="match.winner == match.opponent">+</span>{{ match.opponent.pointsWon }} </span>
              </td>
              <td class="col-sm-1"> {{ match.challenger.setsWon }} - {{ match.opponent.setsWon }} </td>
              <td class="col-sm-3">{{ match.scoresString }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <p class="last"></p>
</section>
